numpy
pandas
transformers
peft
accelerate
bitsandbytes
safetensors
sentencepiece
streamlit
chromadb
langchain
sentence-transformers
gradio
pypdf
langchain-community
unstructured
tiktoken
chromadb==0.4.24
pypdf==4.1.0
sentence-transformers
ollama
kor
langchain_experimental